node_modules/
dist/
build/
.next/
out/
.turbo/
coverage/
*.log

# Entorno / secretos
.env
.env.local
.env.*.local

# Prisma
prisma/*.db

# Electron
apps/caja/release/
apps/caja/dist-electron/

# OS
.DS_Store
Thumbs.db
